<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Register</title>
</head>

<body>
    <h1>Admin key generate Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.admin_key }}
        {{ form.submit }}
    </form>

    <a href="{{ url_for('admin_dashboard') }}">back to dashboard</a><br>
</body>
</html>