<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Login is complete.</h1>
    
    <h2>Group Image.</h2>
    <a href="{{url_for('group_images')}}">group images</a><br>
    <h2>Group File</h2>
    <a href="{{url_for('group_files')}}">group files</a><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{{url_for('logout')}}">Press here to logout</a><br>

</body>

</html>