<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 2</title>
</head>

<body>
    <h1>Group 2: Image</h1>
    <a href="{{url_for('imageupload')}}">upload images here</a><br>
    <a href="{{url_for('display_all_images')}}">display all images</a><br>
    <br>
    <br>
    <a href="{{url_for('dashboard')}}">back to dashboard</a><br>

</body>

</html>